{% extends '::admin.html.twig' %}
{% block body %}
<h1>Heureka {% trans %}Category creation{% endtrans %}</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<p>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {% trans %}Create{% endtrans %}</button>
    <a href="{{ path('product', {'category': category}) }}"> {% trans %}Back to the list{% endtrans %}</a>
</p>
{{ form_end(form) }}
{% endblock %}